.chat-main
  .chat-main__group-info
    .group-info-items
      .group-info-items__name
        = @group.name
      .group-info-items__button
        = link_to edit_group_path(@group[:id]), class:"group-info-items__button__edit-btn" do
          Edit
    .group-info-member
      %ul.group-info-member__list
        Member:
        - @group.users.each do |user|
          %li.group-info-member__list__name 
            = user [:name]
  .chat-main__message-list
    .message-items
      = render @messages
  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .bottom-items
        = f.text_field :body, class: 'bottom-items__message', placeholder: 'type a message'
        = f.label :image, class: 'bottom-items__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'image', style: "display:none;"
      .bottom-items__button
        = f.submit 'Send', class: "bottom-items__button__btn"