.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path, class:"edit-icon" do
          %i.fa.fa-edit
        = link_to edit_user_path(current_user), class:"cog-icon"  do
          %i.fa.fa-cog
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group-list-items
        = link_to '#' do
          .group-list-items__name
            = group.name
          .group-list-items__message
            メッセージはまだありません。